@media (min-width: 1280px) {
    .inner-xxl {
        max-width: 1280px;
        margin: 0 auto;
    }

    .banner .menuslider {
        height: 40%;
    }

    .lablebox {
        top: 20%;
        transform: translateY(-20%);
    }

    .slideroption {
        top: 25%;
    }
}